<li>
  <figure>
    <%= image_tag(part.image, width:'200') %>
    <figcaption>
      <h4><%= part.title %></h4>
      <i><%= part.description %></i>
      <% if part.url? %>
          <%= link_to 'read more', part.url, target: "_blank" %>
      <% else %>
          <%= link_to 'show me image', part.image(:full), target: "_blank" %>
      <% end %>
    </figcaption>
  </figure>
</li>